* {
  margin: 0;
}

.app {
  background-color: #eeeeee;
}

.app__header {
  background-color: white;
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 10px;
  display: flex;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  justify-content: space-between;
}

.app__headerImage {
  width: 90px;
  object-fit: contain;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsright {
  margin-left: 20px;
}
